body, html {
    height: 100%;
}

.page {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;

    /* Default font settings */
    font-size: 16px;
    font-family: sans-serif;
}

.toolbar {
    background: rgb(231, 231, 231);
    flex-grow: 0;
    width: 300px;
    padding: 8px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.toolbar__section {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    box-shadow: 0 1px 0 0 rgb(150, 150, 150);
}

.toolbar__header {
    font-size: 18px;
}

.layer-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.layer-field__select {
    flex: 1 0 auto;
}

.min-max-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.min-max-field__label {
    flex: 1 0 auto;
}

.min-max-field__input-separator {
    margin: 0 5px;
}

.min-max-field__input {
    height: 16px;
    width: 64px;
}

.map-pane {
    background: rgb(37, 39, 39);
    flex-grow: 1;
}

.mask {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal {
    background: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    max-height: 80%;
    /* width: 700px; */
    width: auto;
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    transform: translate(-50%, -50%);
}

.new-layer-dialog {
    padding: 16px;
}

.new-layer-dialog__header {
    font-size: 18px;
    text-align: center;
    margin-bottom: 16px;
}

.new-layer-dialog__name-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}

.new-layer-dialog__name-label {
    margin-right: 16px;
}

.new-layer-dialog__name-input {
    width: 200px;
}

.new-layer-dialog__button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.new-layer-dialog__button {
    margin: 0 8px 0 8px;
}